.browser {
    display: flex;
    top: 120px;
    margin: 20px auto 0 auto;
    position: relative;
    border: 1px solid black;
    width: 95%;
    justify-content: center;
}

.browser > div {
    order: 1;
    border: 1px solid blue;
    align-self: center;
}

.directory {
    width: 30%;
}

.preview {
    width: 70%;
}


