

/* BEGIN DEFAULT STYLES */

body {
    padding: 0;
    margin: 0;
    /* using golden ratio for line-height */
    /* will use relative font sizes throughout */
    font: normal normal 300 100%/1.61803398875 'Merriweather', serif;
}

h1 {
    font-size: 2.5em;
    font-style: italic;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2em;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

a, a:link, a:active, a:visited {
    color: #306EFF;
    text-decoration: none;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 400;
    margin: 2px;
    border-bottom: 1px solid black;
}

a:hover {
    color: #F75D59;
    text-decoration: none;
    cursor: pointer; /* set the cursor for the <span> element */
}


.top {
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    max-width: 1000px;
    border-bottom: 1px solid black;
    background-color: #FFF;
}

#container {
    display: flex;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

/* END DEFAULT STYLES */

/* BEGIN MEDIA QUERIES */

@media only screen and (max-device-width: 480px) and (orientation: portrait), only screen and (max-device-width: 768px) and (orientation: landscape) {

    #content {
        max-width: 500px !important;
        text-align: left !important;
    }

    span#links > a {
        display: block;
        border: 0 !important;
    }

    span#links > a::before {
        content: "/ ";
        color: #000;
        font-size: inherit;
    }

}

/* END MEDIA QUERIES */