div.navbar {
  display: flex;
  padding: 5px 0 5px 0;
  margin: 5px auto;
  width: 100%;
  height: auto;
  background-color: white;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

div.navbar > span {
  padding: 20px;
  background-color: inherit;
  align-self: center;
}
