div.navbar {
  display: flex;
  margin: 20px auto;
  height: auto;
  background-color: white;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  width: 75%;
  min-width: 500px;
  max-width: 1000px;
}

div.navbar > span {
  order: 1;
  padding: 20px;
  background-color: inherit;
  align-self: center;
}