#browser {
    display: flex;
    border: 1px solid black;
    width: 95% !important;
    justify-content: center;
}

#browser > div {
    order: 1;
    border: 1px solid blue;
    align-self: stretch;
}

.directory {
    width: 30%;
}

.preview {
    width: 70%;
}

span.left {
    text-align: left;
}

ul.folder {
    list-style-type: none;
    padding: 0 0 0 3px;
}

