#browser {
    display: flex;
    position: relative;
    width: 100% !important;
    justify-content: center;
}

#browser > div {
    order: 1;
    align-self: stretch;
}

.directory {
    width: 30%;
}

.preview {
    width: 70%;
}

span.left,
span.right > div {
    text-align: left !important;
}

span.right > div {
    font-size: .75em !important;
}

ul.folder {
    list-style-type: none;
    padding: 0 0 0 3px;
}

ul.folder > li > a {
    font-size: 1em !important;
}

